@page
@model ContosoUniversity.Pages.Facturacion.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CodigoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CodigoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Villa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Villa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.PropietarioVilla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.PropietarioVilla)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.ValorFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.ValorFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Emisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Emisor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Moneda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Moneda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaEmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.LecturaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.LecturaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.LecturaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.LecturaFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.BalanceActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.BalanceActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Observaciones)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Factura.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
