@page
@model ContosoUniversity.Areas.Facturacion.Pages.DocFactura.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CodigoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CodigoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Villa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Villa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.PropietarioVilla)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.PropietarioVilla)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.ValorFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.ValorFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Emisor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Emisor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Moneda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Moneda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaEmision)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaEmision)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.LecturaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.LecturaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.LecturaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.LecturaFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.BalanceActual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.BalanceActual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Factura.ID">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
