@page
@model ContosoUniversity.Areas.Propiedades.Pages.dVendedor.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1><i class="far fa-list-alt"></i> Detalles</h1>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.NombreEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.NombreEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Inmobiliaria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Inmobiliaria.Contacto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vendedor.ID"><i class="fas fa-pen"></i> Editar</a> |
    <a asp-page="./Index"><i class="fas fa-arrow-circle-left"></i> Regresar</a>
</div>
