@page
@model ContosoUniversity.Areas.Propiedades.Pages.dMedioComunicacion.IndexModel

        @{
        ViewData["Title"] = "Medio Comunicacion";
        }
        
        <h1><i class="far fa-address-book"></i> MedioComunicacion </h1>
        
        <p>
            <a asp-page="Create"><i class="fas fa-plus-circle"></i> Nuevo</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MedioComunicacion[0].Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MedioComunicacion[0].Valor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MedioComunicacion[0].Compania)
                            </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MedioComunicacion) {
                
                 string filaSeleccionada = "";
                 if (item.ID == Model.IDItemSeleccionado){filaSeleccionada = "table-success";}
                
                <tr class="@filaSeleccionada">
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Compania.Descripcion)
                            </td>
                        <td>
                            <a asp-page="./Index" asp-route-id="@item.ID"><i class="far fa-hand-pointer"></i></a> |
                            <a asp-page="./Edit" asp-route-id="@item.ID"><i class="fas fa-pen"></i></a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                        </td>
                </tr>
                }
            </tbody>
        </table>
